<% content_for :header_tags do %>
<%= stylesheet_link_tag 'project_state.css', :plugin => 'project_state', :media => 'all' %>

<% end %>

<h3><%= l(:project_state_title) %></h3>

<table id="ps_summary">
  <thead>
    <tr>
      <th></th>
      <% @states.each do |s| %>
        <th><%= s %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @users.keys.each do |u| %>
      <tr>
        <td><a href="<%= state_path(u) %>"><%= href=@users[u].firstname %></a></td>
        <% @states.each do |s| %>
          <% if @flags[u][s] > 0 %>
            <td class="counts"><%= @issues[u][s] %> (<span class="flagged"><%= @flags[u][s] %></span>)</td>
          <% else %>
            <td class="counts"><%= @issues[u][s] %> (<span><%= @flags[u][s] %></span>)</td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
    <tr>
      <td><a href="<%= state_path(-1) %>">Unassigned</a></td>
      <% @states.each do |s| %>
        <% if @flags[-1][s] > 0 %>
          <td class="counts"><%= @issues[-1][s] %> (<span class="flagged"><%= @flags[-1][s] %></span>)</td>
        <% else %>
          <td class="counts"><%= @issues[-1][s] %> (<span><%= @flags[-1][s] %></span>)</td>
        <% end %>
      <% end %>
    </tr>
  </tbody>
</table>
