<script>
var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'chart_container'
        },
        title: {
            text: '<%= @report.name + ": #{@intervaltitle}" %>'
        },
        xAxis: {
            categories: <%=raw @labels %>
        },
        yAxis: {
            min: 0,
            title: {
                text: '<%= l(:report_states_yaxis) %>'
            }
        },
        plotOptions: {
          series: {
            animation: false
          }
        },
        series: [
            { name: '<%= l(:report_oc_opening) %>',
              data: <%= @opening %>,
              visible: true
            },
            { name: '<%= l(:report_oc_closing) %>',
              data: <%= @closing %>,
              visible: true
            },
            { name: '<%= l(:report_oc_newopening) %>',
              data: <%= @newopening %>,
              visible: false
            },
            { name: '<%= l(:report_oc_reopening) %>',
              data: <%= @reopening %>,
              visible: false
            }
        ],
        exporting: {
           scale: 3,
           fallbackToExportServer: false
       }

});
</script>

<h3>Tabular View</h3>

<table id="ps_counts">
  <thead>
    <tr>
      <th></th>
      <th>Opening</th>
      <th>Closing</th>
      <th>Opening (new)</th>
      <th>Re-opening</th>
    </tr>
  </thead>
  <tbody>
    <% (0..(@labels.length-1)).each do |i| %>
      <tr>
        <td><%= @labels[i] %></td>
        <td><%= @opening[i] %></td>
        <td><%= @closing[i] %></td>
        <td><%= @newopening[i] %></td>
        <td><%= @reopening[i] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3 class="space_above">Project Details</h3>
<table id="ps_counts">
  <thead>
    <tr>
      <th>Interval</th>
      <th>Transition</th>
      <th>Issue</th>
      <th>Project</th>
      <th>Subject</th>
    </tr>
  </thead>
  <tbody>
    <% ifirst = true %>
    <% (0..(@labels.length-1)).each do |i| %>
      <% s_list = @setnewopening[i] %>
      <% sfirst = true %>
      <% (0..(s_list.length-1)).each do |j| %>
        <% iss = s_list[j] %>
        <tr>
          <td><%= ifirst ? @labels[i] : "" %></td>
          <td><%= sfirst ? "Opening (new)" : "" %></td>
          <td><a href="<%= issue_url(iss.id) %>"><%= iss.id %></td>
          <td><a href="<%= project_url(iss.project.id) %>"><%= iss.project.name %></td>
          <td><%= iss.subject.truncate(50) %></td>
        </tr>
        <% sfirst = false %>
        <% ifirst = false %>
      <% end %>
      <% s_list = @setreopening[i] %>
      <% sfirst = true %>
      <% (0..(s_list.length-1)).each do |j| %>
        <% iss = s_list[j] %>
        <tr>
          <td><%= ifirst ? @labels[i] : "" %></td>
          <td><%= sfirst ? "Reopening" : "" %></td>
          <td><a href="<%= issue_url(iss.id) %>"><%= iss.id %></td>
          <td><a href="<%= project_url(iss.project.id) %>"><%= iss.project.name %></td>
          <td><%= iss.subject.truncate(50) %></td>
        </tr>
        <% sfirst = false %>
        <% ifirst = false %>
      <% end %>
      <% s_list = @setclosing[i] %>
      <% sfirst = true %>
      <% (0..(s_list.length-1)).each do |j| %>
        <% iss = s_list[j] %>
        <tr>
          <td><%= ifirst ? @labels[i] : "" %></td>
          <td><%= sfirst ? "Closing" : "" %></td>
          <td><a href="<%= issue_url(iss.id) %>"><%= iss.id %></td>
          <td><a href="<%= project_url(iss.project.id) %>"><%= iss.project.name %></td>
          <td><%= iss.subject.truncate(50) %></td>
        </tr>
        <% sfirst = false %>
        <% ifirst = false %>
      <% end %>
      <% ifirst = true %>
    <% end %>
  </tbody>
</table>
