<script>
var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'chart_container'
        },
        title: {
            text: '<%= @report.name + ": #{@intervaltitle}" %>'
        },
        xAxis: {
            categories: <%=raw @labels %>
        },
        yAxis: {
            title: {
                text: '<%= l(:report_states_yaxis) %>'
            }
        },
        plotOptions: {
          series: {
            animation: false
          }
        },
        series: [
          <% @keys.each do |u| %>
            { name: '<%= @analysts[u].firstname %>',
              data: <%= @counts[u] %>,
              visible: <% if @counts[u].sum == 0 %>false<% else %>true<% end %>
            }<% if u != @keys[-1] %>,<% end %>
          <% end %>
        ],
        exporting: {
           scale: 3,
           fallbackToExportServer: false
       }

});
</script>

<h3>Tabular View</h3>

<table id="ps_counts">
  <thead>
    <tr>
      <th></th>
      <% @labels.each do |m| %><th><%= m %></th><% end %>
    </tr>
  </thead>
  <tbody>
    <% @keys.each do |u| %>
      <tr>
        <td><%= @analysts[u].firstname %></td>
        <% @counts[u].each do |t| %>
          <td class="counts"><%= t %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
