<p><label for='settings_root_projects'><span title="<%= l(:settings_root_projects_descr) %>"><%= l(:settings_root_projects_label) %></span></label>
   <%= text_field_tag 'settings[root_projects]', @settings['root_projects'] %>
</p>

<p><label for='settings_user_groups'><span title="<%= l(:settings_user_groups_descr) %>"><%= l(:settings_user_groups_label) %></span></label>
   <%= text_field_tag 'settings[user_groups]', @settings['user_groups'] %>
</p>

<p><label for='settings_alert_logins'><span title="<%= l(:settings_alert_logins_descr) %>"><%= l(:settings_alert_logins_label) %></span></label>
   <%= text_field_tag 'settings[alert_logins]', @settings['alert_logins'] %>
</p>

<p><label for='settings_filter_projects'><span title="<%= l(:settings_filter_projects_descr) %>"><%= l(:settings_filter_projects_label) %></span></label>
   <%= text_field_tag 'settings[filter_projects]', @settings['filter_projects'] %>
</p>
